<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mi primer HTML</title>
</head>
<body>
    <header>
        <h1>Programación Visual</h1>
        <nav>
            <a href="#introduccion">Introducción</a>
            <a href="#contenido">Contenido</a>
            <a href="#practica">Práctica</a>
        </nav>
    </header>

    <main>
        <section id="introduccion">
            <h2>Introducción a la Programación Visual</h2>
            <p>La Programación Visual es una disciplina fundamental, que se centra en la creación de aplicaciones mediante el uso de herramientas gráficas e interfaces visuales. A diferencia de la programación tradicional, que se basa en escribir líneas de código, la programación visual permite a los desarrolladores diseñar y construir programas utilizando elementos visuales y gráficos.</p>
        	<h3>Horarios</h3>
        </section>
        <table border="1">
        <tr>
            <th>Día</th>
            <th>Hora</th>
            <th>Clase</th>
            <th>Aula</th>
        </tr>
        <tr>
            <td>Miércoles</td>
            <td>14:00 - 17:00</td>
            <td>Teoría</td>
            <td>Sala 4</td>
        </tr>
        <tr>
            <td>Viernes</td>
            <td>18:00 - 21:00</td>
            <td>Práctica</td>
            <td>Aula 14</td>
        </tr>
        <tr>
        	<td>Lunes</td>
        	<td>18:00 - 21:00</td>
        	<td>Práctica</td>
        	<td>Aula 12</td>
        </tr>
        

    </table>
        <section id="contenido">
            <h2>Contenido de la Materia</h2>
            <h3>Temas Principales</h3>
            <ul>
                <li>Lenguaje Java</li>
                <li>Introducción a Spring Boot</li>
                <li>Gestión de Dependencias y Versionamiento</li>
                <li>Spring Boot MVC</li>
            </ul>
        </section>
        
        <section id="practica">
            <h2>Práctica y Ejemplos</h2>
            <h3>Desarrollo de Interfaces Web</h3>
            <p>En la práctica de Programación Visual, los estudiantes aprenden a crear interfaces web interactivas utilizando HTML y CSS. Se exploran técnicas de diseño responsivo y se aplican principios de usabilidad para mejorar la experiencia del usuario.</p>
        	<a href="https://virtual.unju.edu.ar/mod/resource/view.php?id=376781">Descarga trabajo práctico</a>
        </section>
    </main>

    <aside>
        <h2>Recursos Adicionales</h2>
        <div>
          <img src="/images/docIco.png" alt="Icono archivos" width="100" height="100">
        </div>
        <ul>
        	<li><a href="https://www.youtube.com/watch?v=WUJV7yDlXSU">Videos de clases teóricas</a></li>
        	<li><a href="https://drive.google.com/file/d/14i3XbtbljGMmSovCkwQDp5aBWIuK6Ui4/view?usp=sharing">Videos de clases prácticas</a></li>
        	<li><a href="https://www.youtube.com/watch?v=89Mr-dYcHxA">Cómo descargar Spring Tool Suite</a></li>
        	<li><a href="https://virtual.unju.edu.ar/mod/resource/view.php?id=308190">Descarga material complementario</a></li>
        </ul>
        
    </aside>

    <footer>
    	<h2>Contáctanos:</h2>
        <p>Correo: programacionvisual101@universidad.edu</p>
        <p>Puedes también seguirnos en nuestras redes sociales dedicadas únicamente a la materia: </p>
        <ul>	
            <li><a href="https://facebook.com/">Facebook</a></li>
            <li><a href="https://twitter.com/">Twitter</a></li>
            <li><a href="https://instagram.com/">Instagram</a></li>
        </ul>
    </footer>
</body>
</html>
